/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.work-link {
    text-decoration: none;
    color: inherit;
    margin: 20px;
}

.work-link:hover {
    text-decoration: none;
    color: inherit;
    margin: 20px;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
}

.app-box, .website-box, .lib-box {
  width: 359px;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  transition: box-shadow 0.3s;
  height: 100%;
}

.app-box {
    min-height: 250px;
}

.website-box {
    min-height: 200px;
}

.lib-box {
    min-height: 150px;
}

[data-theme='light'] :is(.app-box:hover, .website-box:hover, .lib-box:hover) {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

[data-theme='dark'] :is(.app-box:hover, .website-box:hover, .lib-box:hover) {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.app-logo {
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
  margin: 0 auto 20px;
}

.app-name {
  font-size: 20px;
  margin-bottom: 10px;
}

.app-description {
  font-size: 16px;
}

.download-tab-margin {
  margin-bottom: 10px;
}

.website-box .external-link {
    color: grey;
}
